@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestBook.styles.css" asp-append-version="true" />
    <script src="~/js/site.js" ></script>
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1" >
            <div class="container-fluid" style="background-color:brown">
                <a class="navbar-brand card2" asp-area="" asp-controller="Home" asp-action="Index">MusicPortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @using (Html.BeginForm("Find", "Home", FormMethod.Get))
                {
                    <div style="display:flex">
                        <input type="text" name="str" />
                        <input type="submit"  value="find" />&nbsp;
                    </div>
                }
                
                   
                                           
                    <div class="navbar-collapse collapse d-sm-inline-flex c c21">
                            @using (Html.BeginForm("Create", "Song", FormMethod.Get))
                            {
                                <div>
                                    <input type="submit" id="addSong" value="Add Songs" class="non" />&nbsp;&nbsp;&nbsp;
                                </div>
                            }
                        @using (Html.BeginForm("Styles", "Admin", FormMethod.Get))
                        {
                                <div >
                                    <input type="submit" id="genres"  class="non" value="Genres" />&nbsp;
                             </div>
                        }
                        @using (Html.BeginForm("Artists", "Admin", FormMethod.Get))
                        {
                            <div >
                                <input type="submit" id="artists" class="non" value="Artists" />&nbsp;
                            </div>
                        }                     
                        @using (Html.BeginForm("Users", "Admin", FormMethod.Get))
                        {
                            <div >
                                <input type="submit" class="non" id="users" value="Users" />&nbsp;
                            </div>
                        }
                    </div>


                <div class="c20 " id="wait" style="display:none;">waiting for confirm registration&nbsp;&nbsp;&nbsp;</div>

                @using (Html.BeginForm("Logout", "Login", FormMethod.Get))
                     {                  
                        <div style="display:flex; justify-content:end; width:400px;">
                           <div class="c c1 c20 non" id="wellcome" >

                            &nbsp;&nbsp;&nbsp;&nbsp;Welcome,&nbsp; <span id="wellcomeTo"></span>&nbsp;&nbsp;                        
                                <input type="submit" id="logout" value="Logout" class="non" />
                           </div>
                        </div>
                     }
                    
                    <ul class="navbar-nav flex-grow-1 c c1 " id="enter">
                        <li class="nav-item">                           
                                <a href="javascript:void(0)" class="nav-link text-dark card2 btn-Login">Login</a>
                        </li>
                        <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link text-dark card2 btn-Reg">Registration</a>
                        </li>
                    </ul>
                   
               
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container c20">
            &copy; 2023 - MusicPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
