@model MusikPortal.Models.AddSong

<h3 class=" b1 b3 center c20">Add the Song</h3>
<div class="center">
        <div class="card c7">
            <form asp-action="Create" asp-controller="Song" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>List of artists</label>
            <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
            <span asp-validation-for="ArtistId" class="text-danger"></span>
        </div>
                <div class="form-group">
                    <span>Name </span><br />
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label >List of styles</label>
                    <select asp-for="StyleId" class="form-control" asp-items="ViewBag.StyleId"></select>
                    <span asp-validation-for="StyleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span>Year</span><br />
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
        <div class="form-group">
            <span>Album</span><br />
            <input asp-for="Album" class="form-control" />
            <span asp-validation-for="Album" class="text-danger"></span>
        </div>
                <div class="form-group">
                    <span>Text of the Song</span><br />
                    <textarea asp-for="text" class="c17"></textarea><br />
                    <span asp-validation-for="text" class="text-danger"></span>
                </div>               
                <input type="file" name="uploadedFile" accept=".mp4, .mp3" />
                <div class="form-group">
                    <br />
                    <input type="submit" value="Add Song" class="btn btn-primary c2" />
                </div>
            </form>
        </div>
        </div>