

        
<div class=" card c7">
            <h4 > Addition</h4>
    <form asp-controller="Admin" method="post" enctype="multipart/form-data" >
                @model MusicPortal.BLL.DTO.ArtistDTO
    
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span>Enter the name </span><br />
                    <input asp-for="Name" class="form-control card _c7" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            <span>Photo</span><br />
            <input type="file" name="p" id="FileInput" accept=".jpg, .jpeg" /><br /><br />
              @* <div class="form-group">
                    <input type="submit" formaction="CreateArtist" value="Add Artist" class="btn btn-primary c2" />
        </div>*@
    </form>

</div>      
        <div class=" card c7">
            <h4 > Editing</h4>
     <form asp-controller="Admin" method="post" >
        <label>List of artists</label>
        <select asp-for="Id" class="form-control card _c7" asp-items="ViewBag.ArtistId"></select>
   
    <br />
    @*<div class="form-group">
        <input type="submit" formaction="DeleteArtist" value="Delete Artist" class="btn btn-primary c2" /><br /><br />
            <input type="submit" formmethod="get" formaction="EditArtist" value="Edit Artist" class="btn btn-primary c2" />
        </div>  *@
    </form>
</div>
