@model MusicPortal.BLL.DTO.ArtistDTO


    <div class=" card c7a">
        <form asp-controller="Admin" method="post" enctype="multipart/form-data">
            <div>
                <img src=@Url.Content(@Model.photo) class="im"/>
            </div>           
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
            <span>@Resources.Resource.nameArt </span><br />
                    <input asp-for="Name" class="form-control card c23" readonly />
                </div>               
                <br />               
        </form>
</div>
