@using Microsoft.AspNetCore.Http
@model MusicPortal.BLL.DTO.UserDTO


<div class="c20"> <h4>New users</h4></div>
    <div class="c3">
    <table>
            <tr class="c20"><th>Name</th><th style="width:60px">Age</th><th>Email</th><th style="width:80px">Level</th><th></th></tr>
        @foreach (var s in ViewBag.Users)
      {
        
            @if (@s.Level == 0)
            {
                <form asp-action="EditUser"  asp-controller="Admin" method="post">
                    <input asp-for="Id" type="hidden" value=@s.Id>
               <tr>
                <td>   <input asp-for="Name" class="form-control" value=@s.Name readonly="readonly" /></td>
                <td>   <input asp-for="Age" class="form-control" value=@s.Age readonly="readonly"  /></td>
                <td>   <input asp-for="email" class="form-control" value=@s.email readonly="readonly" /></td>
                    <td> <input asp-for="Level" class="form-control" type="number" min="0" max="2" value=@s.Level  /></td>
                <td>&nbsp;&nbsp;&nbsp;<input type="submit" value="confirm registration" /></td>
               </tr>
               </form>
            }
        }
    </table></div>
        <hr />
        <hr />
<div class="c20"> <h4>Confirmd users</h4></div>
    <div class="c3">
    <table>
        <tr class="c20"><th>Name</th><th style="width:60px">Age</th><th>Email</th><th style="width:80px">Level</th><th></th></tr>
      @foreach (var s in ViewBag.Users)
      {
            @if (@s.Level > 0)
            {
                <form asp-action="EditUser" asp-controller="Admin" method="post">
                    <input asp-for="Id" type="hidden" value=@s.Id>
                <tr>
                    <td>   <input asp-for="Name" class="form-control" value=@s.Name readonly="readonly" /></td>
                    <td>   <input asp-for="Age" class="form-control" value=@s.Age readonly="readonly" /></td>
                    <td>   <input asp-for="email" class="form-control" value=@s.email readonly="readonly" /></td>
                    <td> <input asp-for="Level" class="form-control" type="number" min="1" max="2" value=@s.Level /></td>
                    <td>&nbsp;&nbsp;&nbsp;<input type="submit" value="change level" /></td>
                </tr>
                </form>
            }
      }
    </table>
</div>

