@using Microsoft.AspNetCore.Http
@model IEnumerable<MusicPortal.BLL.DTO.UserDTO>
<h3>New users</h3>
<table class="table card us">
    
        <tr>
            <th>
               Name
            </th>
            <th style="width:70px">
                Age
            </th>
            <th>
               Email
            </th>
            <th style="width:70px">
               Level
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            @if (item.Level == 0)
            {
                <form asp-action="EditUser" asp-controller="Admin" method="post">
                    <input name="Id" type="hidden" value=@item.Id>
            <tr>
                <td>   <input type="text" name="Name" value=@item.Name readonly="readonly" /></td>
                <td>   <input style="width:50px" type="text" name="Age" value=@item.Age readonly="readonly" /></td>
                <td>   <input type="text" name="email" value=@item.email readonly="readonly" /></td>
                <td> <input style="width:50px" name="Level" type="text" readonly="readonly" value=@item.Level /></td>
                    <td>&nbsp;&nbsp;&nbsp;<a style="width:150px" asp-action="GetUser" asp-route-id="@item.Id" class="userConfirm">Confirm registration</a></td>
            </tr>
            </form>
            }
        }
    
</table>
<h3>Confirmd users</h3>
<table class="table card us">

    <tr>
        <th>
            Name
        </th>
        <th style="width:70px">
            Age
        </th>
        <th>
            Email
        </th>
        <th style="width:70px">
            Level
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @if (item.Level > 0)
        {
            <form asp-action="EditUser" asp-controller="Admin" method="post">
                <input name="Id" type="hidden" value=@item.Id>
            <tr>
                <td>   <input type="text" name="Name" value=@item.Name readonly="readonly" /></td>
                <td>   <input style="width:50px" type="text" name="Age" value=@item.Age readonly="readonly" /></td>
                <td>   <input type="text" name="email" value=@item.email readonly="readonly" /></td>
                <td> <input style="width:50px" name="Level" type="text" readonly="readonly" value=@item.Level /></td>
                <td>&nbsp;&nbsp;&nbsp;<a style="width:150px" asp-action="GetUser" asp-route-id="@item.Id" class="userConfirm">Change level</a></td>
            </tr>
            </form>
        }
    }

</table>
